@font-face {
    font-family: 'Akkurat';
    src: url('Akkurat-BoldItalic.woff2') format('woff2'),
        url('Akkurat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akkurat';
    src: url('Akkurat.woff2') format('woff2'),
        url('Akkurat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

